@using Ext.Net;
@using Ext.Net.MVC;
@using HQ.eSkyFramework;
@using HQ.eSkyFramework.HQControl;
@{
    Layout = null;
    ViewBag.Title = "OM10100";
    var X = Html.X();
    var HQ = Html.HQ();
    var acc = Session["OM10100"] as AccessRight;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/extcss")
    @Scripts.Render("~/language" + Current.LangID)

    @Scripts.Render("~/extjs")
    @Scripts.Render("~/OM10100JS")

    @*<script src='@Url.Content("Scripts/hq.language" + Current.LangID + ".js?" + DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/hq.common.js?" + DateTime.Now.ToString("yyyyMMddHHss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/screen/OM10100.js?" + DateTime.Now.ToString("yyyyMMddHHss"))' type="text/javascript"></script>*@
    <style>
        #btnChoiceOk {
            float: right;
        }

        #bottomBar {
            Width: 100%;
        }

        #ctnBottomBar {
            Width: 100%;
        }

        #ctnBottomBar-outerCt {
            Width: 100%;
        }

        #ctnBottomBar-innerCt {
            Width: 100%;
        }

        .icon-iconok {
            background-image: url('Images/OM10100/iconok.png');
            background-size: 16px 16px;
        }

        .icon-iconclose {
            background-image: url('Images/OM10100/iconclose.png');
            background-size: 16px 16px;
        }

        .icon-iconbookedit {
            background-image: url('Content/images/icon/bookedit.png');
            background-size: 16px 16px;
        }
    </style>
    <script>
        HQ.cpnyID = '@Current.CpnyID';
        HQ.langID = '@Current.LangID';
        HQ.userName = '@Current.UserName';
        HQ.businessDate = new Date('@ViewBag.BussinessTime');//lay ngay co gio cua server trong controller
        HQ.isRelease = HQ.util.toBool('@acc.Release.ToString()');
        HQ.isUpdate = HQ.util.toBool('@acc.Update.ToString()');
        HQ.isInsert = HQ.util.toBool('@acc.Insert.ToString()');
        HQ.isDelete = HQ.util.toBool('@acc.Delete.ToString()');
        HQ.isShowMess = HQ.util.toBool('@ViewBag.IsShowMess');
        HQ.allowImport = HQ.util.toBool('@ViewBag.AllowImport');
        HQ.DeleteRow = '@ViewBag.DeleteRow';
        HQ.IsNewBackOrder = HQ.util.toBool('@ViewBag.IsNewBackOrder');
        HQ.ShowLTTContractNbr = HQ.util.toBool('@ViewBag.ShowLTTContractNbr');
        HQ.ShowCreditHold = HQ.util.toBool('@ViewBag.ShowCreditHold');
        HQ.ShowDocBal = HQ.util.toBool('@ViewBag.ShowDocBal');
        HQ.showWhseLoc = parseInt('@ViewBag.showWhseLoc');
        HQ.formatDateJS = '@Current.FormatDateJS';
        HQ.AllowDuplicateInvt = HQ.util.toBool('@ViewBag.AllowDuplicateInvt');
        HQ.showWhseLoc = parseInt('@ViewBag.showWhseLoc');
        HQ.promoGroupByInvt = HQ.util.toBool('@ViewBag.PromoGroupByInvt');
        HQ.slsperMCP = parseInt('@ViewBag.SlsperMCP');
        HQ.DC = '@ViewBag.DC';
        HQ.KT = HQ.util.toBool('@ViewBag.KT');
    </script>
    <title>@ViewBag.Title</title>
</head>
    <body spellcheck="false">   
        @*@X.ResourceManager().Theme((Theme)Enum.Parse(typeof(Theme),Current.Theme))
        @X.GridFilters()
        @X.ProgressBarPager()

        @{Html.RenderAction("Body", new { lang = Current.LangID.ToString() }); }*@
    </body>
</html>
    